.parallax{
    background: url("../../assets/images/acousticguitarparallax.jpg") repeat fixed 70%  ;
    
}
.parallax-inner {
    padding-top: 10%;
    padding-bottom: 10%;

}
.title-parallax{
    color: #fff ;
}