.heading{
  width:100%;
  height:500px;
  background: rgb(0, 0, 0);
}

.heading img{
  width:100%;
  height:500px;
  object-fit: cover;
  object-position:center;
  
  filter: opacity(50%);
}

.heading .opacityBg {
  position: absolute;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.7);
}