.animated__bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #bc8839, #f1dbba, #8a4f35, #bc8839);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
