.navLink {
  text-decoration: none;
  color: white;
}

.navStyles {
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
  border-bottom: 2px solid rgba(242, 219, 184, 0);
  margin-bottom: 1rem;
}

.navStyles:hover {
  border-bottom: 2px solid rgba(242, 219, 184, 1);
  cursor: pointer;
}

.hamburguerNavStyles {
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
  border-bottom: 2px solid rgba(242, 219, 184, 0);
}

.hamburguerNavStyles:hover {
  border-bottom: 2px solid rgba(242, 219, 184, 1);
  cursor: pointer;
}

.navLink:hover {
  color: white;
}

.logo {
  transition: 0.2s;
}

.logo:hover {
  transition: 0.2s;
  transform: rotate(45deg);
  cursor: pointer;
}

.cartCounter {
  position: "relative";
}
#drawer {
  background-color: white;
}
.appbartransparent {
  background: transparent;
}
.appbarsolid {
  background: #ab832a;
}
