.navLink {
  text-decoration: none;
  color: white;
}

.navLink:hover{
  color: white;
}

.cartCounter{
  position: 'relative'
}
#drawer{
  background-color: white;
}
.appbartransparent{
  background: transparent;
}
.appbarsolid{
  background: #ab832a;

}