.subscribe[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.subscribe[type="text"]:focus {
  border-color: #bf8832;
  box-shadow: 0 0 8px 0 #bf8832;
}

.footerLink {
  text-decoration: none;
  color: #bf8832;
}

.footerLink:hover {
  color: #8c5032;
}
