* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

body {
  background-color: #fcfaf6;
  font-family: "Raleway", sans-serif;
  font-family: "Neuton", serif;
  font-family: "Saira Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Raleway", sans-serif;
}

.number {
  font-family: "font-family: 'Source Code Pro', monospace;";
}
